<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="1000000 seconds">

    <contextName>logback</contextName>
    <!--定义控制台输出的格式-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender"> <!--ConsoleAppender表示控制台-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level> <!--输出该级别以上的日志,控制台定义为DEBUG,文件定义为INFO-->
        </filter>
        <encoder> <!--设置格式-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %yellow(%5p) %highlight(${PID:-}) %highlight([%15.15t])
                %cyan(%-40.40logger{39}) : %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--定义日志输出的路径-->
        <file>/data/project/logs/log.log</file>
        <!--定义日志滚动的策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--定义文件滚动时的文件名的格式-->
            <fileNamePattern>/data/project/logs/log-%d{yyyy-MM-dd}.log
            </fileNamePattern>  <!--TimeBasedRollingPolicy中不能用%i-->
            <!--保存60个文件，超过就删除旧的-->
            <maxHistory>60</maxHistory>
            <!-- 该属性在 1.1.6版本后 才开始支持-->
            <!-- 日志最大值为20G,超出会删除原有的-->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!--每个日志文件最大100MB-->
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <!--定义输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <!--用于专门记录接口访问日志-->
    <appender name="requestLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--定义日志输出的路径-->
        <file>/data/project/logs/request/log.log</file>
        <!--定义日志滚动的策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--定义文件滚动时的文件名的格式-->
            <fileNamePattern>/data/project/logs/request/log-%d{yyyy-MM-dd}.log
            </fileNamePattern>  <!--TimeBasedRollingPolicy中不能用%i-->
            <!--保存60个文件，超过就删除旧的-->
            <maxHistory>60</maxHistory>
            <!-- 日志最大值为20G,超出会删除原有的-->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!--每个日志文件最大100MB-->
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <!--定义输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <!--root为默认的输出配置,定义了控制台和文件两种输出,同时输出到控制台和文件-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

    <!--定义接口日志的输出,只输出到文件,additivity为false时表示不使用root-->
    <logger name="com.beiming.common.aspect.LogAspect" level="info" additivity="false">
        <appender-ref ref="requestLog"/>
    </logger>

    <!--查看功能模块SQL日志-->
    <logger name="com.beiming" level="debug" additivity="false">
        <appender-ref ref="console"/>
    </logger>

</configuration>