<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiming.modules.sys.user.mapper.SysMenuMapper">
    <resultMap id="BaseResultMap" type="com.beiming.modules.sys.user.domain.entity.SysMenu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="permit" jdbcType="VARCHAR" property="permit"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="show_flag" jdbcType="VARCHAR" property="showFlag"/>
        <result column="order" jdbcType="TINYINT" property="order"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
    </resultMap>
</mapper>