<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beiming.modules.sys.menu.mapper.SysMenuMapper">

    <update id="updateBatch">
        UPDATE sys_menu
        <set>
            show_flag=#{flag}
        </set>
        <where>
            id in
            <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>

</mapper>